[2018-09-05 16:27] cbwalther1 opened #1 "TouchFadeView not found"
Copied and pasted from your sample solution and I'm receiving exception when reaching page with the control.

I have `xmlns:controls="clr-namespace:TouchEffect.Controls;assembly=TouchEffect"`
And then `<controls:TouchFadeView Padding="10, 5" BackgroundColor="Black" VerticalOptions="CenterAndExpand" HorizontalOptions="CenterAndExpand" Completed="Handle_TouchCompleted">
                        <Labe

[2018-09-05 16:31] AndreiMisiukevich commented on #1
@cbwalther1 hi
try next steps
1) Remove package from solution
2) Close VS
3) Delete all bin and obj folders
4) Open VS again
5) Add package again
6) Try to start

[2018-09-05 16:44] cbwalther1 commented on #1
Thank you for your very fast response!

I did that and still receiving same error. Performed a rebuild too just for kicks.

FYI - I added nuget to Shared Project and iOS project. Weird thing is, intellisense autofills `TouchFadeView` when I start typing `controls:`. But just can't find it during runtime.

[2018-09-05 16:46] AndreiMisiukevich commented on #1
ok, could you please try next approach
in you main App.cs file, in constructor, write next line of code (before setting main page)

new TouchFadeView();

[2018-09-05 16:47] AndreiMisiukevich commented on #1
probably, you will have to enable "link framework sdk assemblies"

[2018-09-05 16:51] cbwalther1 commented on #1
Wrote that code, no exceptions were thrown at that line, but same exception occurred when reaching page with the control. I also already had "link framework sdk assemblies" enabled

[2018-09-05 16:53] cbwalther1 commented on #1
I think it's because I don't have `TouchViewRenderer.Initialize();` in AppDelegate.cs. Will try that now

[2018-09-05 17:00] cbwalther1 commented on #1
Upon trying the above, I could not reference `TouchViewRenderer`. `using TouchEffect.iOS;` would not work because `TouchEffect` could not be found. I then found that the nuget wasn't showing in my iOS project's references... although it is installed through nuget manager.

FYI - I am targeting .NET Standard 2.0

[2018-09-05 17:11] AndreiMisiukevich commented on #1
Ok, I will check it today-tomorrow
Perhaps, I made a mistake in nuspec....

[2018-09-05 17:13] cbwalther1 commented on #1
Found temp solution. Went in iOS Project folder > bin > iPhone > debug and found TouchEffect.dll in there. I then manually made the iOS project reference the dll in VS. Now everything works.

[2018-09-05 19:38] AndreiMisiukevich commented on #1
@cbwalther1 good job...
But I don't see any issues in nuspec file..
Hm, do you see this dll in iOS folder of packages folder?

[2018-09-05 20:01] cbwalther1 commented on #1
No its my iOS project's main folder...

Interesting... I've updated all my previous nugets and now when I install this, the nuget automatically pops up in references and I no longer need to reference the dll.

[2018-09-05 20:38] AndreiMisiukevich commented on #1
Hmm, that is very strange
Could you please try it on fresh new solution?

[2018-09-17 08:47] #1 closed

[2018-09-26 20:04] michelzsiqueira opened #2 "Delay upon clicking"
[code]

O click on this touch happens a little delay when trying the command, tried other methods and everyone has this delay to load ...

[2018-09-26 20:05] AndreiMisiukevich commented on #2
Hi
Thanks for feedback
Can you try to add tapgesture and bind to it's command?

If it helps, I will update internal logic

[2018-09-26 20:24] michelsiqueiraf commented on #2
friend I worked this and continued the problem, in fact only happens with ios, in android works perfectly

[2018-09-26 20:25] AndreiMisiukevich commented on #2
@michelzsiqueira sample please
I will investigate

[2018-09-26 20:26] AndreiMisiukevich commented on #2
Or you can yourself

[2018-09-26 20:30] michelsiqueiraf commented on #2
I'll check it too.

[2018-09-27 11:50] michelsiqueiraf commented on #2
Troubleshooting Changing the Touch: TouchView for Touch: TouchFadeView

Sorted out

[2018-09-27 12:25] AndreiMisiukevich commented on #2
@michelzsiqueira ?

[2018-09-27 12:27] michelsiqueiraf commented on #2
[code]

there is no delay in ios this way

[2018-09-27 12:30] AndreiMisiukevich commented on #2
@michelzsiqueira yes, because touchView is base view

[2018-09-27 12:30] #2 closed

[2018-11-02 09:28] rredoh opened #3 "Not Working with Prism DelegateCommand ObservesCanExecute"
Hi Andrei, could you check if it's only me or u experience this to? In my use case is to prevent the image double clicked.

Example code :
[code]

[2018-11-02 09:32] AndreiMisiukevich commented on #3
[code]

Hi, could you try this way?

I wait your feedback

[2018-11-02 09:37] rredoh commented on #3
Yes. I tried it. It's still not working.

[2018-11-02 09:38] AndreiMisiukevich commented on #3
@rredoh but it works with Xamarin.Forms Command, right?

[2018-11-02 09:40] rredoh commented on #3
Yup. Everything works normally. I'm just curious why I can't protect it from double clicking if I use ObservesCanExecute.

[2018-11-02 09:42] AndreiMisiukevich commented on #3
@rredoh good question :) have no idea yet

[2018-11-02 10:06] rredoh commented on #3
Yup. Thanks for the response anyway :)

[2018-11-02 11:22] AndreiMisiukevich commented on #3
@rredoh could you please create small sample project with this issue? I will try to find fix/workaround :)

[2018-11-03 05:07] rredoh commented on #3
I'm sorry. My mistake. In the middle of making repro I realize that it happened in the middle of modal page animation. It's working normally if I turned off modal page animation

[2018-11-03 05:07] #3 closed

[2018-11-03 10:28] AndreiMisiukevich commented on #3
@rredoh no problem) enjoy it. Thanks for feedback
P.S. If you like this plugin, you may set "STAR" =)

[2018-11-04 11:52] rredoh commented on #3
Sure. Thanks for the time-saver plugin. Newbie here, and I love using this touch effect and cardview in my current project. Keep up the good work :)

[2018-11-14 21:51] NaturalFigurehead opened #4 "Not working on iOS"
I'm trying to integrate this into my iOS app. However it does not seem to be working at all. There is no change on touch, and the completion function is not called.

I basically copied over the example code but it's still not working for me.

[code]

[code]

I cloned this solution and the example app did work.

Any ideas what might screw this up?

[2018-11-15 06:34] AndreiMisiukevich commented on #4
Hi, thank you for feedback
I need to extend readme...
This is linker issue.
Try to write next code in AppDelegate Finish Loading method.

[code]

Did it help?

[2018-11-15 08:48] AndreiMisiukevich commented on #4
@NaturalFigurehead I have updated the Readme file :)

[2018-11-15 14:51] NaturalFigurehead commented on #4
@AndreiMisiukevich it's working now. Thanks!

[2018-11-15 17:11] AndreiMisiukevich commented on #4
@NaturalFigurehead super)

if you like this plugin, you may STAR it)

[2018-11-15 17:11] #4 closed

[2018-11-20 18:11] SagarPanwala opened #5 "What about supporting Ripple effects to all controls ?"

[2018-11-20 18:16] AndreiMisiukevich commented on #5
Hi
Have you got any example, what do you mean?

[2018-11-20 18:24] SagarPanwala commented on #5
If you touch on button or listitem in android, you will see smooth effect.

You can see
https://youtu.be/6-lhXas634g

I'm not saying about how he code, just effect on listitem.

On Tue, Nov 20, 2018, 11:46 PM Andrei <notifications@github.com wrote:

[2018-11-20 22:20] AndreiMisiukevich commented on #5
Hi, new release has got breaking changes
You should use TouchView (more info in Readme file on main page of the project)

Use FadeDuration/FadeEasing/RecoverDuration/RecoverEasing for achieving the same behavior :)

[2018-11-20 22:20] #5 closed

[2018-11-21 03:58] SagarPanwala commented on #5
Can you please give an example code?

On Wed, Nov 21, 2018, 3:50 AM Andrei <notifications@github.com wrote:

[2018-11-21 09:15] AndreiMisiukevich commented on #5
[code]

Play with:
- FadeDuration
- RecoverDuration
- FadeEasing
- RecoverEasing
- PressedOpacity

[2018-11-21 18:28] michelzsiqueira opened #6 "Update problem?"
After updating the NuGet package, the HorizontalOptions within the TouchView is not populated.

Before (Version: 1.0.0)
https://imgur.com/VyZ76zc

After (Version: 2.0.0)
https://imgur.com/GhiqZtC

[code]

Thanks!

[2018-11-21 19:39] AndreiMisiukevich commented on #6
Hi, yes, i changed base view of TouchView (now it's absolutelayout)
Try to set AbsoluteLayoutFlags = All and AbsoluteLayoutBounds = 0, 0, 1, 1 for you StackLayout

Does it help?

[2018-11-21 19:50] AndreiMisiukevich commented on #6
Now I set every child as
[code]

But in the next release i will do it as

[code]

So, don't worry, next release will expand you child to cover all TouchView space :)

[2018-11-21 19:50] #6 closed

[2018-11-21 22:39] AndreiMisiukevich commented on #5
[code]

Will be available in the next release

[2018-11-22 05:08] SagarPanwala commented on #5
Thanks alot,
Can we put any view inside touchview?

On Thu, Nov 22, 2018, 4:09 AM Andrei <notifications@github.com wrote:

[2018-11-22 06:11] AndreiMisiukevich commented on #5
@SagarPanwala yes, sure
TouchView is AbsoluteLayout

[2018-11-22 11:08] michelsiqueiraf commented on #6
Thanks

[2018-11-22 11:11] AndreiMisiukevich commented on #6
@michelzsiqueira if you like this plugin, you can set STAR )

[2019-03-20 22:31] AndreiMisiukevich opened #7 "canExecuteCommand logical issue. + Default binding mode issues"

[2019-03-23 21:42] #7 closed

[2019-03-28 21:45] sethom opened #8 "Ripple Effect - Fade Duration"
Hi, I'm trying to do a ripple effect as described here: https://github.com/AndreiMisiukevich/TouchEffect/issues/5 ... I'm going for something that should look like what is seen here:  https://github.com/mrxten/XamEffects..  However, in "issues/5" (above link) you say:

"You should use TouchView (more info in Readme file on main page of the project)
Use FadeDuration/FadeEasing/RecoverDuration/Recov

[2019-03-29 08:26] AndreiMisiukevich commented on #8
Hi )
Have you checked documentation ?)

Here is the list of all properties with description:
https://github.com/AndreiMisiukevich/TouchEffect#all-properties

[2019-03-29 08:28] AndreiMisiukevich commented on #8
Please, use ```PressedAnimationDuration``` and ```RegularAnimationDuration``` :)

[2019-03-29 08:28] #8 closed

[2019-03-29 08:30] AndreiMisiukevich commented on #8
Thanks for feedback :) i updated that issue

have a good day!

[2019-03-29 17:48] sethom commented on #8
Thanks! I didn't realize PressedAnimationDuration and RegularAnimationDuration where to be used in place of FadeDuration and RecoverDuration.

[2019-04-20 09:58] YZahringer opened #9 "Support UWP Platform"
Support for the UWP platform would be useful. With mouse over, entered, exited, moved, ...

[2019-04-20 16:38] AndreiMisiukevich commented on #9
Does anybody want to contribute?

[2019-05-03 14:54] ssotir opened #10 "Cannot set 'scaleX' to Float.NaN exception when PressedScale is set in Android"
I am testing v2.0.5 but I've seen the same issue in older versions as well. When in Android and set PressedScale to lets say 0.9 then the app crashes with the Exception Cannot set 'scaleX' to Float.NaN .

[2019-05-03 15:07] ssotir opened #11 "Completed event is not fired in Android"
I've tried the 2.0.5 version samples. The image touchview although is seems to be clicked since the image is changed, the alert is never shown though. I believe it is a bug because the 2.0.3 version works fine.

[2019-05-03 15:14] AndreiMisiukevich commented on #10
@ssotir small sample please..
can you reproduce it on iOS ?
I presume, it's XF bug

[2019-05-03 15:15] ssotir commented on #10
No, iOS works fine. I am testing against the latest stable XF

[2019-05-03 15:16] AndreiMisiukevich commented on #10
What forms version do you use?
Can you replicate it with latest version?

I think it's XF bug

[2019-05-03 15:18] AndreiMisiukevich commented on #11
Thanks, i will check

[2019-05-03 15:18] ssotir commented on #10
XF 3.6.0344457

[2019-05-07 20:05] Tum4ik commented on #11
I also have faced with this problem. I've updated from 2.0.2 to 2.0.5 and Completed event has stopped to work.

[2019-05-07 20:10] Tum4ik commented on #11
I've just checked: 2.0.4 is working.

[2019-05-08 07:13] AndreiMisiukevich commented on #11
Yeah, I added TapGestureRecognizer.. need to remove

[2019-05-08 08:21] AndreiMisiukevich commented on #11
I will fix it on this week

[2019-05-09 20:35] AndreiMisiukevich commented on #11
@ssotir @Tum4ik check next version please :) (will be available soon)

[2019-05-09 20:35] #11 closed

[2019-05-09 20:42] AndreiMisiukevich commented on #10
@ssotir hmmm

https://www.google.com/search?q=Cannot+set+%27scaleX%27+to+Float.NaN&oq=Cannot+set+%27scaleX%27+to+Float.NaN&aqs=chrome..69i57j69i60j0l2.121j0j7&sourceid=chrome&ie=UTF-8

A lot of similar reports. I think it's XF issue

[2019-05-09 20:47] AndreiMisiukevich commented on #10
@ssotir could you please fork my repo and reproduce this issue there? and send me branch with it
I guess, we need report it to XF proj

[2019-05-16 21:03] AndreiMisiukevich commented on #10
Use Android support version 28.0.0.1 (latest version)
and target platform 8.1

 (works fine for me)

[2019-05-19 02:02] AndreiMisiukevich opened #12 "Make Effect instead of control"
```label.Effects.Add(TouchEff());```

[2019-05-19 20:13] AndreiMisiukevich commented on #12
Version 3.0.0

[2019-05-19 20:13] #12 closed

[2019-05-19 20:48] AndreiMisiukevich opened #13 "Feature: Store last state after user release touch"
Make new Attached property for managing whether this feature enabled or not (disabled by default)

[2019-05-21 12:29] AndreiMisiukevich commented on #13
Added IsToggled

[2019-05-21 12:30] #13 closed

[2019-05-23 10:41] MitchBomcanhao commented on #9
Until v3, UWP kind of worked, ie you didn't get visible effects but tapping the touchview control did trigger the completed event.

Having switched to the effect approach, it seems like it might be simpler to get the UWP version working. I've quickly tried to create my own effect file with a similar pattern and include it in my project, and it *just worked*. Now, I'm sure that there are probably o

[2019-05-23 10:50] MitchBomcanhao opened #14 "[3.0.1] Effects not working on iOS unless I override the effect class."
I've upgraded a project to use TouchEffect 3.0.1, and switched the control approach to the effect approach.
- It works ok on Android,
- Doesn't work on UWP (it kind of worked on v2 with the control approach, so I've fixed this by making my own effect file for UWP - see https://github.com/AndreiMisiukevich/TouchEffect/issues/9 ),
**- Doesn't work on iOS. Tapping controls doesn't show the pressed co

[2019-05-23 12:51] AndreiMisiukevich commented on #14
@MitchBomcanhao wow, super (Re uwp) please, make PR to my repository ))

[2019-05-23 12:52] AndreiMisiukevich commented on #14
did you add this:

TouchEffectPreserver.Preserve()

to AppDelegate ?

[2019-05-23 12:53] AndreiMisiukevich commented on #9
make PR please :)

[2019-05-23 13:25] MitchBomcanhao commented on #14
oh. I didn't think the preserve would have any effect on my build configuration as linking isn't used in debug and on release builds we're only linking framework sdk only.
I hadn't added that line in the android project either, and it worked fine, hence why I didn't think it could be the cause.

Thanks

[2019-05-23 13:42] AndreiMisiukevich commented on #14
@MitchBomcanhao hope you will make pr for UWP :)

[2019-05-23 13:42] #14 closed

[2019-05-23 18:00] AndreiMisiukevich commented on #9
@MitchBomcanhao are you interested in making PR ?

[2019-05-23 18:22] MitchBomcanhao commented on #9
I wanted to get it done but am inexperienced, so spent a while figuring out how to add another project and how it is supposed to be built and I'm not sure I was entirely successful. If you feel you can get it done quickly feel free do adapt it yourself ;)

[2019-05-31 14:32] #9 closed

[2019-06-07 21:19] AndreiMisiukevich commented on #9
@MitchBomcanhao btw it's done ;)

[2019-06-07 21:21] MitchBomcanhao commented on #9
Great, I haven't had the chance to try it as I'm on holiday but will do give it a look next week 😉

[2019-06-21 10:03] MitchBomcanhao opened #17 "[UWP] Navigating with the mouse back button can trigger completed event on control in underlying page"
I've got a page with a stack of controls that use toucheffect completed event to navigate to a sub page.
If I then use the mouse's back button, and the cursor happens to be on top of a touchview enabled control on the previous page, it'll trigger that control's completed event and off it goes to a subpage again.

Have not yet had time to investigate any potential fixes or workarounds.

[2019-06-21 11:34] MitchBomcanhao opened #18 "[UWP] Releasing a mouse button over a toucheffect control will trigger its completed event, regardless of where you started the click"
- Open any page with a control that has a toucheffect completed event associated with it.
- Move the mouse cursor to an empty location on the page.
- Press the mouse left button and then move the mouse cursor over the toucheffect control.
- EXPECTED:
-- Nothing happens because you've not actually clicked on the object.
- OBSERVED:
-- It will fire the completed event.

[2019-06-21 12:10] AndreiMisiukevich commented on #18
would you like to debug, fix and make PR ? :)

[2019-06-21 12:10] AndreiMisiukevich commented on #17
would you like to debug, fix and make PR ? :)

[2019-06-21 12:10] AndreiMisiukevich commented on #17
i am Mac user :(

[2019-06-21 12:33] MitchBomcanhao commented on #18
I might have a fix for the most basic scenario, but now i'm finding some other edge cases where it'll break the plugin. I'll share more in a bit.

[2019-06-21 12:38] MitchBomcanhao opened #19 "[UWP] Using the navigation buttons on a mouse while the cursor is over a toucheffect control will throw a null reference exception"
On UWP, you can have navigation buttons on your mouse.
This means that while you press them, it'll trigger the pressed events, which will navigate to a different page but also attempt to do things like animate the background color of the affected control.
However, as the app has since navigated to a different page, the control it is trying to act upon no longer exists and a null reference exceptio

[2019-06-21 12:40] AndreiMisiukevich commented on #19
@MitchBomcanhao your are best QA haha)

[2019-06-21 14:18] AndreiMisiukevich commented on #17
fixed https://github.com/AndreiMisiukevich/TouchEffect/pull/20

[2019-06-21 14:18] #17 closed

[2019-06-21 14:18] AndreiMisiukevich commented on #18
fixed https://github.com/AndreiMisiukevich/TouchEffect/pull/20

[2019-06-21 14:20] AndreiMisiukevich commented on #19
@MitchBomcanhao https://github.com/AndreiMisiukevich/TouchEffect/blob/master/TouchEffect/TouchVisualManager.cs#L343

Adding

if(sender.Control == null)
{
return Task.FromResult(false);
}

Should solve this issue.
Would you like to make extra PR (test it before please)

[2019-06-21 14:20] #18 closed

[2019-06-21 14:29] MitchBomcanhao commented on #19
It still fails on the same spot.
goes up to:
![image](https://user-images.githubusercontent.com/31066938/59929653-36814900-9439-11e9-8e1f-393c43c84e39.png)
then fails
![image](https://user-images.githubusercontent.com/31066938/59929699-4d27a000-9439-11e9-96e3-71fef04997a7.png)

as you can see, the control isn't null up to the point where it awaits for the task to complete.

[2019-06-21 14:33] AndreiMisiukevich commented on #19
@MitchBomcanhao got it, thanks

[2019-06-21 14:33] AndreiMisiukevich commented on #19
Need to refactor code a little

[2019-06-21 20:34] #19 closed

[2019-06-24 10:15] AndreiMisiukevich commented on #19
@MitchBomcanhao does it work?)

[2019-06-24 10:19] MitchBomcanhao commented on #19
Yes, first impression is that it is working fine ;)

[2019-07-25 14:42] mheydecke opened #21 "Show ripple effect only if command is executed"
Hi,
I use the effect and the command on a StackLayout in a BindableLayout.ItemTemplate.
The ripple effect is also shown if I touch the Item while scrolling within the view, but I only
 want to show the ripple effect if the command is executed. Is this possible?

[2019-07-25 16:57] AndreiMisiukevich commented on #21
@mheydecke hm, but it doesn't make sense to show effect only if command is executed. :) This library allow to make your UI responsive.

But if you wish, i can add some Delay property and ripple effect will appear only after delay in case of element is still pressed.

Does it work?

[2019-07-26 08:39] mheydecke commented on #21
@AndreiMisiukevich
thanks for the quick answer. You dont need to add an extra property. I was only curious if I was doing something wrong.

[2019-07-26 08:39] #21 closed

[2019-07-26 10:14] AndreiMisiukevich commented on #21
cool)

[2019-07-31 02:30] Cklauber opened #22 "Cannot use it with Xamarin Forms 4.1"
Hello,

I am trying to use this plug in with the information given in the documentation and in the sample, and I cannot get it to work with Xamarin 4.1. Could you please take a look?

I am literally copying an pasting the code from the sample and nothing happens.

On my MainActivity.cs I added:

            //TouchEffect
            TouchEffectPreserver.Preserve();

On my AppDelegate.cs I added:

[2019-07-31 22:16] AndreiMisiukevich commented on #22
Yes, you forgot to set any attached properties. Take a look at any sample
page please

On Wed, Jul 31, 2019 at 04:30 Clauber Oliveira <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at On The Spot Development*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-08-06 15:27] jhonatanfernando commented on #21
Hey.  What am I doing wrong?  I couldn't call the command from StackLayout.

[code]

[2019-08-06 21:32] AndreiMisiukevich commented on #21
have you added TouchEff to StackLayout.Effects ?

[2019-08-11 18:28] AndreiMisiukevich commented on #22
@Cklauber can you create small sample project? Or fork my repo and make changes there (preferred)

[2019-08-11 18:40] Clauber commented on #22
It's ok, I ended up using another package.
Thanks a lot for your response, though.

[2019-08-11 18:40] #22 closed

[2019-08-20 12:54] MitchBomcanhao opened #23 "[UWP] TouchEffect not working when app compiled with UseDotNetNativeToolchain=true"
When publishing an app to the windows store, it'll be recompiled with UseDotNetNativeToolchain set to true by Microsoft.

We can test this by building locally with `<UseDotNetNativeToolchain>true</UseDotNetNativeToolchain>` in the Release build configuration, and so far my experience is that code that uses toucheffect doesn't work (ie I can click stuff and nothing happens - no errors, no ui change

[2019-08-20 13:11] AndreiMisiukevich commented on #23
weird...
can you try to debug it on my samples?

[2019-08-20 13:14] AndreiMisiukevich commented on #23
try to preserve them like

[code]

in UWP code

[2019-08-20 14:05] MitchBomcanhao commented on #23
I've just created a xamarin forms project with a uwp flavour and added this to its content.
It works fine if not using UseDotNetNativeToolchain. when used, it'll not apply the toucheffect bits.

[code]
the code behind will have
[code]
and app.xaml.cs has
[code]

which will output
[code]
but the touch effect will not be applied when clicking the ui element.

[2019-08-20 14:44] MitchBomcanhao commented on #23
I've found something that makes it work - just not sure it is a good workaround. Had to add `using System.Reflection;` and then the following initialization for Xamarin forms in app.xaml.cs:

[code]

this was following an example from [https://www.mrgestures.com/#FAQs](url).
This might be problematic as it might conflict with the fixes for other packages which do similar things, but at least there

[2019-08-20 14:46] AndreiMisiukevich commented on #23
i think it's proper workaround

[2019-08-20 14:46] #23 closed

[2019-08-20 15:24] MitchBomcanhao commented on #23
as a final comment, this is the bare minimum I've kept

[code]
no system.reflection needed.

on a project where I'm using rgplugins.popup, which also needs to be added to this list of assemblies, I've joined them up like so:
[code]

[2019-08-21 09:25] AndreiMisiukevich commented on #23
@MitchBomcanhao thanks) that's great

[2019-09-17 10:53] KeesAlderliesten commented on #10
target platform 8.1 isn't accepted bij Google anymore, should be 9.0 (Api 28). But then this issue appears. XF 4.2. Any idea why this is happening?

[2019-09-17 12:24] AndreiMisiukevich commented on #10
@KeesAlderliesten could you please provide a sample?

[2019-09-17 12:30] KeesAlderliesten commented on #10
Hello Andrei,

I will try to make one later. For now I removed the touchview on Android and it don’t crash anymore on Pie (9.0). Now I can release my app.

Earlier I had to remove the TouchImage on Android because that caused also crashes. I sent you a mail about it 2 weeks ago. Did you receive that?

Kind regards,

Kees Alderliesten

Van: Andrei <notifications@github.com>
Verzonden: dinsdag 17 se

[2019-09-17 12:35] AndreiMisiukevich commented on #10
Hm, not sure. Perhaps it is in spam

[2019-09-17 15:54] KeesAlderliesten commented on #10
Switch TouchEffectSample.Android to target Pie (9.0), clean project en rebuild.
Run sample app on Android 9.0 device of emulator and tap button ‘(FADE EFFECT)’

This results in Java.Lang.IllegalArgumentException: 'Cannot set 'scaleX' to Float.NaN'

[cid:image001.png@01D56D7F.327C51A0]

[cid:image002.png@01D56D7F.327C51A0]

As temporary workaround I replaced the TouchView on Android with an Absolut

[2019-09-29 10:21] AndreiMisiukevich commented on #10
found workaround

[2019-09-29 13:25] AndreiMisiukevich commented on #10
fixed in 4.1.1

[2019-09-29 13:25] #10 closed

[2019-10-06 02:49] ivoryguard opened #24 "Revisting Content Page makes System.ObjectDisposedException exception."
Hello.

I am trying to add Floating Action button with TouchImage control.

I created a XF 4.2 project with App Shell template.

I added FlyoutItems at AppShell.xaml like this;

[code]

I added a TouchImage Button at ItemsPage like this;
[code]

TouchImage Button works well at first.

However, System.ObjectDisposedException occurs when I go to About Page and go to Items Page again.

The detailed e

[2019-10-06 11:36] AndreiMisiukevich commented on #24
Hi)

this hints me that the crash appeared at Forms part.
Will you have the same crash if you change all touchEff to regular GestureRecognizer?

Also, can you prepare a small sample?

[2019-10-06 11:37] AndreiMisiukevich commented on #24
@ivoryguard https://github.com/xamarin/Xamarin.Forms/issues/6754

[2019-10-07 22:13] AndreiMisiukevich commented on #24
@ivoryguard can you provide a sample? I will report this issue to XF

[2019-10-08 12:50] AndreiMisiukevich commented on #24
@ivoryguard are you still interested in fixing this bug?

[2019-10-11 13:45] jhonatanfernando commented on #21
Hey @AndreiMisiukevich did you create the Delay property? Thanks.

[2019-10-11 13:49] AndreiMisiukevich commented on #21
Hi, no, I didn't

[2019-10-17 03:32] rbev opened #25 "TouchEff.Command ignores CanExecute() on the command"
When ICommand returns false from CanExecute it is expected that tapping on the item does not execute it.

Here is some sample code that replicates the bug

[code]

[code]

[2019-10-18 17:18] AndreiMisiukevich commented on #25
Hi, so you want to disable the "touch" effect when CanExectue is false, right?

[2019-10-18 18:12] AndreiMisiukevich commented on #25
v.4.1.2

[2019-10-18 18:12] #25 closed

[2019-10-18 18:58] AndreiMisiukevich commented on #24
@ivoryguard I reproduced the bug

[2019-10-18 19:10] AndreiMisiukevich commented on #24
I'll fix it locally and send PR with a fix to XF project

[2019-10-20 22:48] AndreiMisiukevich commented on #24
v.4.1.3

[2019-10-20 23:02] #24 closed

[2019-10-31 19:28] kkohler2 opened #26 "Effects not working for Android."
It would be very helpful to have specific steps per platform to set up a working project, starting from scratch.  The sample app works, but I cannot get a new project to use the Effects in Android.  See my StackOverflow question: https://stackoverflow.com/questions/58650006/how-do-you-get-the-touchview-nuget-working-with-android-in-xamarin-android-proje

Documentation on how to set everything up f

[2019-10-31 20:36] AndreiMisiukevich commented on #26
Ah, what XF version do you use?

[2019-10-31 20:36] AndreiMisiukevich commented on #26
It was XF issue, which I've already fixed https://github.com/xamarin/Xamarin.Forms/pull/6412

[2019-10-31 22:47] AndreiMisiukevich commented on #26
wrap your Frame by ContentView or update XF version to the latest

[2019-10-31 22:47] #26 closed

[2019-11-18 12:00] piersdeseilligny opened #29 "[UWP] PointerCaptureLost should be handled"
On UWP, we should handle the `PointerCaptureLost` event, as explained by Microsoft in the custom user interactions guide:

![image](https://user-images.githubusercontent.com/42496508/69050207-68530780-09f9-11ea-9c0f-f5ad4b92ec1d.png)

Handling `PointerCaptureLost` would fix the situation of having a control with `TouchEff` inside a scrollview, where scrolling over the control causes it to keep it'

[2019-11-18 12:02] piersdeseilligny commented on #29
(There is a similar undesirable pressed state persistence within Scrollviews on Android, which must also be resolved)

[2019-11-18 13:46] AndreiMisiukevich commented on #29
check "dev" branch
I am working there

[2019-11-20 18:24] piersdeseilligny opened #31 "Feature: Native tapping animations"
TouchEffect is very close to becoming the absolute perfect way to design custom buttons and inputs in Xamarin.Forms, however something which would truly make this library even more amazing than it already is, would be to support native animations.

An app with custom interactions, fonts, and buttons will look native (rather than like a web app) if it implements native tapping animations: It allows

[2019-11-20 21:21] AndreiMisiukevich commented on #31
sounds interesting..

[2019-11-21 11:14] piersdeseilligny commented on #31
I suggest creating a new interface `INativeAnimation`, which would be used as a property (`NativeAnimation`) in `ITouchEff`. The following properties would then be accessed via `TouchEff.NativeAnimation`:

| Name | Type | Default value | Description |
|---|---|---|---|
| NativeAnimation.Enabled | `bool` | `false` | If native animations are created/played |
| NativeAnimation.Color | `Xamarin.Forms.

[2019-11-21 11:16] AndreiMisiukevich commented on #31
looks good to me)

[2019-11-21 17:24] piersdeseilligny commented on #31
Actually it would probably be simpler and more straightforward to implement these properties directly as properties of `TouchEff`

[2019-11-21 18:56] Mikilll94 opened #32 "Cannot create a ripple effect"
I don't understand what does ripple count property. I was setting different values for ripple count but it does nothing. What I was expecting is that I can achieve a ripple effect like native buttons on Android but I think it is not possible.

Here is what I want to achieve:
![ripple](https://user-images.githubusercontent.com/17653648/69367482-afaaf380-0c98-11ea-9fea-cf35f1b0e82a.gif)

@AndreiMisi

[2019-11-21 21:01] piersdeseilligny commented on #32
This package currently doesn't support the Android ripple effect (the terminology is admittedly somewhat confusing). But it's funny that you should submit this issue today, as I've actually just been working on [adding support for native animations](https://github.com/AndreiMisiukevich/TouchEffect/issues/31), such as the ripple effect on Android.

[2019-11-21 21:44] Mikilll94 commented on #32
@piersdeseilligny
Thanks for your response. This plugin is very useful in Xamarin development. But if there was be a possibility to add native animations to any layout, that would be awesome. No more button controls with very limited functionality!

BTW what does ripple count do? It looks like it does nothing.

[2019-11-22 17:35] AndreiMisiukevich commented on #32
@Mikilll94

please read the documentation first

[code]

It allows making non-native ripple effect (but it works ONLY with other properties)

[2019-11-22 19:41] Mikilll94 commented on #32
@AndreiMisiukevich
Here is your code in action.

![ripple_what](https://user-images.githubusercontent.com/17653648/69455245-47c3de00-0d68-11ea-8418-cfe5437c385b.gif)

To be honest, I don't see any ripple. You are just changing opacity and size. Where is the ripple?

[2019-11-22 21:36] AndreiMisiukevich commented on #32
@Mikilll94 to be honest, you should press and hold, then you will see a ripple (pulsing)

[2019-11-22 21:40] AndreiMisiukevich commented on #32
![Untitled](https://user-images.githubusercontent.com/10124814/69462369-d2690500-0d89-11ea-9316-cbcdea656408.gif)

[2019-11-22 21:41] AndreiMisiukevich commented on #32
![Untitled_1](https://user-images.githubusercontent.com/10124814/69462434-0512fd80-0d8a-11ea-9617-cd980af9a876.gif)

[2019-11-22 21:43] AndreiMisiukevich commented on #32
well, duplicated: https://github.com/AndreiMisiukevich/TouchEffect/issues/31

[2019-11-22 21:43] #32 closed

[2019-11-22 22:24] AndreiMisiukevich commented on #29
Added mac hover support)

[2019-11-26 21:50] #29 closed

[2019-11-26 21:50] #31 closed

[2019-11-27 17:01] MitchBomcanhao opened #35 "Android native touch effect may keep the pressed state when touch input moves away"
Reporting against package version 4.1.19

I've found that if your control is in some sort of scrollable container, it'll not update the touch state as expected. I'm using the native effects but not sure if it is only related to those.

Example:
I tap and hold an item. it goes darker as expected.
I move the finger away from the item, but still touching the display. The item should exit the pressed

[2019-11-27 21:00] AndreiMisiukevich commented on #35
Hi @piersdeseilligny
Would you like to take a look?)

[2019-11-27 21:02] piersdeseilligny commented on #35
Will do when I've got time :) I don't think this is related to the native animations though.

[2019-11-27 21:09] MitchBomcanhao commented on #35
Maybe the native animations merely make the underlying issue more obvious when we're not setting the pressed animations and colours ourselves.

[2019-11-28 10:30] MitchBomcanhao commented on #35
On the bottom object, it doesn't seem to fire the expected Move events, so there's never an event outside the boundaries of the control and never an Up event, so there is no way to do the state reset.

This is likely due to the container of the control taking over the touch gestures...

[2019-11-28 10:33] AndreiMisiukevich commented on #35
@MitchBomcanhao yes, exactly.
I have a workaround for that.

[2019-11-29 23:10] piersdeseilligny commented on #35
What's the workaround?

[2019-12-01 22:09] AndreiMisiukevich commented on #35
set DisallowTouchThreshold to 20 or 25 or any another value:
[code]

[2019-12-01 22:09] #35 closed

[2019-12-13 15:50] Mikilll94 opened #36 "Typo in NuGet description"
![image](https://user-images.githubusercontent.com/17653648/70812847-b248c680-1dc8-11ea-82b5-90ac3d47b888.png)

[2019-12-13 16:51] AndreiMisiukevich commented on #36
Hi, would you like to fix it?
https://github.com/AndreiMisiukevich/TouchEffect/blob/master/TouchEffect.nuspec

[2019-12-16 01:07] piersdeseilligny commented on #36
It could also be useful to specify "during touch and hover interaction" rather than just "during touch interaction"

[2019-12-16 08:29] AndreiMisiukevich commented on #36
Yes, feel free to make a PR

[2019-12-16 17:36] Mikilll94 opened #37 "No native animation on iOS?"
Hey, do you plan to add any native animation on iOS? On Android this ripple is awesome, but on iOS nothing happens when you add:

[code]

IMO native animation on iOS should work, i.e. like this:

![ios_native_animation](https://user-images.githubusercontent.com/17653648/70929134-ac561e00-2032-11ea-99ae-e6fddf71646b.gif)

[2019-12-16 21:29] AndreiMisiukevich commented on #37
@Mikilll94, of course, we will !)

[2019-12-18 19:03] Mikilll94 commented on #36
@AndreiMisiukevich
I have created a pull request #38

[2019-12-19 08:37] #36 closed

[2019-12-19 17:30] AndreiMisiukevich commented on #37
4.1.23

[2019-12-19 17:30] #37 closed

[2019-12-19 17:36] Mikilll94 commented on #37
@AndreiMisiukevich
Thanks a lot!!! :)

[2019-12-31 14:23] MitchBomcanhao commented on #35
Only just had the chance of trying this change.

while the touchable control doesn't remain highlighted anymore using DisallowTouchThreshold when scrolling, it will still fire the android ripple animation, which is rather odd looking.
It also makes moving the finger within the control fire the ripple effect and not result in the intended action if the user lifts his finger.

These native animation

[2019-12-31 16:21] AndreiMisiukevich commented on #35
No idea how to improve it.

[2020-01-09 07:29] scriptBoris opened #39 "Add LongPressed event / Command"
Good day, is it possible to implement using your nugetPackage method triggering with a long press hold?

If so, can this be done using NativeAnimation?

rus: Привет, можно ли реализовать с помощью вашего nugetPackage срабатывание метода при долгом удержании нажатия?
Если да, то можно ли это сделать с помощью NativeAnimation ?

[2020-01-09 08:45] AndreiMisiukevich commented on #39
Hi, no, it is not possible now.

So, the long-press gesture can be added of course, but I didn't understand, how does NativeAnimation correlate with it?

[2020-01-09 08:50] scriptBoris commented on #39
1) It is unfortunate that this is not possible.

2) I just thought that NativeAnimation has its own touch detection system.

[2020-01-09 09:00] AndreiMisiukevich commented on #39
@scriptBoris but we still can add LongPressed event / command etc.

[2020-01-09 09:04] scriptBoris commented on #39
@AndreiMisiukevich can you do this?

[2020-01-09 09:06] AndreiMisiukevich commented on #39
I think yes
But if you wish, you can assist me :) (with UWP or Android haha)

[2020-01-31 20:27] jhonatanfernando opened #40 "System.NullReferenceException for Android"
Using the component for Image, I am getting this exception for Android:

` <Image Source="{Binding ReloadIcon, Converter={StaticResource ImageConverter}}"                        touch:TouchEff.Command="{Binding BindingContext.RefreshCommand, Source={x:Reference control}}">
                    <Image.Effects>
                        <touch:TouchEff  />
                    </Image.Effects>

[2020-02-01 13:27] AndreiMisiukevich commented on #40
Hi, need to check

On Fri, Jan 31, 2020 at 22:27 Jhonatan Fernando de Oliveira <
notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-02-06 18:06] nor0x commented on #40
Can confirm this issue. I'm using `FFImageLoading` with the `TouchEffect` attached.

A workaround for me was wrapping the `Image` inside a `Grid` or `ContentView` layout and attaching the `TouchEffect` on this parent control

[2020-02-06 18:12] AndreiMisiukevich commented on #40
https://github.com/AndreiMisiukevich/TouchEffect/pull/41

[2020-02-06 21:42] AndreiMisiukevich commented on #39
I decided to defer this enhancement.
Frankly speaking, I am not even sure that it should be implemented within this nuget

[2020-02-06 21:42] #39 closed

[2020-02-06 22:05] AndreiMisiukevich commented on #40
4.1.28

[2020-02-06 22:05] #40 closed

[2020-02-27 21:07] bohbra opened #42 "Effects not working"
I created a bare bones Xamarin Forms application that uses the `TouchColorViewPage.xaml` and it doesn't appear to be working.  The sample application does work for me however, not sure what the issue is.

Here is the fork:
https://github.com/bohbra/TouchEffect

[2020-02-27 21:22] AndreiMisiukevich commented on #42
@bohbra so it works on forked repo but doesn't work on your sample?
Can you provide a sample? I believe you forget to add TouchEffectPreserver.Preserve() line to your AppDelegate and MainActivity

[2020-02-27 21:23] AndreiMisiukevich commented on #42
Let me know if it helped (or provide a sample)

[2020-02-27 21:27] bohbra commented on #42
I forgot to add it to MainActivity which I now fixed, but it was in AppDelegate.  Neither works.  The sample is in the forked repo under the solution folder `Issue`.

[2020-02-27 21:29] AndreiMisiukevich commented on #42
@bohbra you forgot to add one important thing man))

![image](https://user-images.githubusercontent.com/10124814/75488427-5baf5980-59c1-11ea-8c6b-5757e45dcbb5.png)

[2020-02-27 21:30] AndreiMisiukevich commented on #42
[code]

[2020-02-27 21:30] #42 closed

[2020-02-27 21:34] bohbra commented on #42
Got it, thank you!

[2020-02-28 14:11] globalnix opened #43 "iOS native touch effect may keep the pressed state when touch input moves away"
Reporting against package version 4.1.28

I'm experiencing a problem that is very similar to #35 but on iOS.  If I add the touch effect to a control inside a scrollable container, then it is possible to drag my finger off the control without reverting the control's touch state to normal, leaving its appearance in a "pressed" state.

As noted above, this is similar to what was happening on Android

[2020-03-03 01:03] bohbra commented on #42
Is a handler always required?  I would like to do something like this since I don't have a need for it but it doesn't work:

[code]

[2020-03-03 01:38] bohbra opened #44 "Null reference exception when command displays another view"
I get the following error when handler for `TouchEff.Command` changes the current screen.

[code]

I have an example in the fork [here](https://github.com/bohbra/TouchEffect/tree/master/App).

[2020-03-03 08:48] AndreiMisiukevich commented on #42
Hi, yes. Handler is required.
In another case how would you handle touches?

You should user Handler **OR** Command

[2020-03-03 08:55] AndreiMisiukevich commented on #44
Try to remove redundant handler (leave just Command)

[2020-03-03 17:37] bohbra commented on #44
I got a different exception when I remove the handler (_effect is null):

[code]

[2020-03-03 17:38] bohbra commented on #44
Note that this issue only occurs in iOS

[2020-03-03 17:42] bohbra commented on #42
I'm only using these features:

[code]

I want to change the background color of a frame and also receive the touch event via the command.  I don't have a need for the handler in my case but I have to add an empty one or the `PressedBackgroundColor` won't work.

[2020-03-03 22:26] AndreiMisiukevich commented on #44
Checking)

[2020-03-03 22:26] AndreiMisiukevich commented on #42
Checking it

[2020-03-03 22:41] AndreiMisiukevich commented on #42
@bohbra
[code]

works fine

[2020-03-03 23:33] #44 closed

[2020-03-03 23:37] AndreiMisiukevich commented on #43
Hi. Frankly speaking, I have no idea how to fix that

[2020-03-04 00:14] AndreiMisiukevich commented on #43
Set DisallowTouchThreshold=1 for iOS (and update to latest version)

[2020-03-04 00:14] #43 closed

[2020-03-04 18:00] bohbra opened #45 "DataTrigger properties on child controls"
I would like to be able to change the TextColor of the label in response to the pressed state of the ContentView (similar to the sample [here](https://github.com/AndreiMisiukevich/TouchEffect#samples)).  When TouchEffect was previously a control, I did something like this:

[code]

Now that it's an effect, I tried doing something like this but no luck:

[code]

[2020-03-05 10:45] AndreiMisiukevich commented on #45
Hi, easy now :)
[code]

[2020-03-05 17:55] bohbra commented on #45
This is changing the text color in response to a press on the label itself, not on the ContentView that surrounds it.  I would like a press on the ContentView to change it's own background color (which is supported) as well as change the label color.  I have an example in my fork [here](https://github.com/bohbra/TouchEffect/blob/master/App/App/MainPage.xaml).  Notice that pressing in the green are

[2020-03-05 18:20] AndreiMisiukevich commented on #45
How about fill and expand label ?

On Thu, Mar 5, 2020 at 20:55 Robert Gaede <notifications@github.com> wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2020-03-05 18:52] bohbra commented on #45
I think fill and expand will work, but I eventually need the ability to support multiple controls wrapped in the ContentView.  Each of those controls may need to trigger some property based on the ContentView's pressed state.  The only thing I can think of is either using the DataTrigger like I have in my first example which doesn't work for some reason or create a custom ContentView with a `IsPre

[2020-03-05 21:03] bohbra commented on #45
I see an error in the logs with my DataTrigger example:

I'm not sure why Xamarin is cutting the binding property off at the period, it should be `(touch:TouchEff.State)`

[2020-03-05 21:05] AndreiMisiukevich commented on #45
Hmmm interesting

[2020-03-05 21:40] AndreiMisiukevich commented on #45
https://stackoverflow.com/questions/42544575/binding-to-attached-properties-in-xamarin-forms

Impossible to bind to attached property

[2020-03-05 21:51] AndreiMisiukevich commented on #45
Then only:
[code]

[2020-04-09 08:44] Huaba93 opened #46 "[Android] MotionEventActions.Move is not handled correctly"
### Description
When leaving the vertical bounds of the VisualElement, the VisualElement is not reset.
It is working horizontally.

### Steps to Reproduce

1.  Add Toucheffect
2.  Touch + move vertically far enough to leave bounds

### Expected Behavior
Command is not executed and control is reset to regular values.

### Actual Behavior
Command is not executed but pressed values are not reset to r

[2020-04-09 10:10] AndreiMisiukevich commented on #46
Hi, Is your button inside a scrollview or listview ?

[2020-04-09 10:18] Huaba93 commented on #46
The button is inside a ScrollView.
Outside of ScrollView it is working as expected.

Haven't tested it with ListView or CollectionView

[2020-04-09 10:21] AndreiMisiukevich commented on #46
@Huaba93 try to set DisallowTouchThreshold = 10, it will make it slightly better

[2020-04-09 10:38] Huaba93 commented on #46
Setting it to 10 makes it better for vertical scrolling but worse for horizontal.
But this is good enough for me atm.

I bind it to the buttons height.

[2020-04-09 10:54] AndreiMisiukevich commented on #46
Yeah, I know. But don't know how to fix this yet.

[2020-04-09 11:00] Huaba93 commented on #46
Ok no problem, as i told, it is good enough ;)
Thanks for your help and thanks for the whole project.
It was very easy and went very fast to replace most of the TapGestureRecognizer with the TouchEffect. The app feels now much more responsive. It's a huge UX improvement!

[2020-04-09 11:09] AndreiMisiukevich commented on #46
@Huaba93 thanks, mate :)

[2020-04-11 06:22] realivanjx opened #47 "NullReferenceException inside a Frame"
Hi,

I tried to use this library, mainly to enable native animation for each platform. Everything seems to work as expected but i cant get it working with `Frame` control and keep getting `NullReferenceException`. Here is my code:

[code]

And here is the stacktrace:

[code]

Any help would be appreciated.

Nuget version: v4.1.30

[2020-04-11 11:41] AndreiMisiukevich commented on #47
Hi mate)
What xamarin.forms version do you use?

Because I fixed this bug in Xamarin.Forms repository

https://github.com/xamarin/Xamarin.Forms/pull/6412

Try latest XF version, this bug should go

[2020-04-11 12:57] ivanjx commented on #47
This https://www.nuget.org/packages/Xamarin.Forms/4.5.0.617

[2020-04-11 14:35] AndreiMisiukevich commented on #47
@realivanjx reproduced. Checking it

[2020-04-11 14:56] #47 closed

[2020-04-11 15:08] AndreiMisiukevich commented on #47
Try latest version

[2020-04-11 15:22] ivanjx commented on #47
Thank you

[2020-04-14 16:36] Huaba93 commented on #46
Same problem on iOS. I used a collectionView. Any idea?

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/21239003/79250326-c25bda00-7e7e-11ea-82c4-b169f348f2f9.gif)

[2020-04-14 16:39] AndreiMisiukevich commented on #46
try to set DisallowTouchThreshold = 10

[2020-04-14 16:41] Huaba93 commented on #46
this only works for Android, not iOS

[2020-04-22 09:50] taenito opened #48 "[Android][Accessibility] Touch event is not fired with Talk Back"
Talk Back accessibility (double tap) triggers the **Click** event instead of the **Touch** event.

Can you handle the **Click** event of your AView and trigger the command (animation is not required in this case) ?

[2020-04-22 21:03] #48 closed

[2020-04-22 21:58] AndreiMisiukevich commented on #48
fixed

[2020-04-22 23:52] AndreiMisiukevich commented on #46
It should work for iOS as well
DisallowTouchThreshold = 1

?

[2020-04-23 01:16] AndreiMisiukevich commented on #46
try latest (no need to set DisallowTouchThreshold for iOS)

[2020-04-23 01:16] #46 closed

[2020-04-24 14:46] man0rei opened #49 "Element occasionally doesnt return to regular state if nested in ScrollView, state "regular" is not fired"
I'm using TouchEff for items in Bindable StackLayout and having a problem with items get stuck in "pressed" state if some scroll of ScrollView occured concurrently with pressing of item. Is there any workarounds to solve this? If item is just tapped - everything works ok.

[code]

...

// ITEM TEMPLATE:

[code]

...

[2020-04-24 17:48] lltwist commented on #49
right now i handle with it like this:

[code]

[2020-04-24 20:45] AndreiMisiukevich commented on #49
DisallowTouchThreshold = 10 for Android

[2020-04-24 20:47] AndreiMisiukevich commented on #49
Can you test the same case on iOS with latest nuget version?

[2020-04-24 20:47] AndreiMisiukevich commented on #49
https://github.com/AndreiMisiukevich/TouchEffect/issues/46 the same

[2020-04-25 11:47] YZahringer opened #50 "Support hover animation API"
I see that the [API for hover animation](https://github.com/AndreiMisiukevich/TouchEffect/commit/92a66ce9476950a3b0e3588fc17c62529b03209e) support has been added but it's not implemented. Is this planned?

This would be very useful, it avoids using DataTriggers or events to manage simple visual effects.

[2020-04-25 22:55] AndreiMisiukevich commented on #50
Good question. I think I should add hover support.

[2020-04-26 16:21] AndreiMisiukevich commented on #49
Set Target Framework to Android 9.0 (API 28 at least)
Also, use the latest stable xamarin forms (4.5 or newer)

[2020-04-26 16:21] #49 closed

[2020-05-03 08:08] marufbd opened #51 "Does not change state after press and scroll inside a scrollview"
If i press and scroll outside the view that leaves the pressed view backgorund as red.

Sample View:

[code]

Coe behind:

[code]

Nothing fires after press and scroll.

[2020-05-03 11:32] AndreiMisiukevich commented on #51
iOS or Android?

[2020-05-03 11:42] marufbd commented on #51
Android I tested. Just changed on the example touchview.sample xamarin forms view.

[2020-05-03 12:17] AndreiMisiukevich commented on #51
but it works on my sample, right?

That's odd

[2020-05-03 13:37] AndreiMisiukevich commented on #51
Set **InputTransparent="True"** to all views inside your FlexLayout

[code]
[code]

[2020-05-03 13:39] AndreiMisiukevich commented on #46
hi @Huaba93 https://github.com/AndreiMisiukevich/TouchEffect/issues/51

[2020-05-03 20:44] AndreiMisiukevich commented on #51
1. No need to set InputTrasparent to children yourself (it will be done automatically)
2. No need to add TouchEff to element, if you use Command for (So if you don't need to access TouchEff event, then you can skip adding an effect to an element. It will be done automatically).

[2020-05-03 20:44] #51 closed

[2020-05-04 04:24] Huaba93 commented on #46
I had no time to test, but I will soon ;)

[2020-05-04 10:08] marufbd commented on #51
Thanks heaps.

[2020-05-04 14:29] MitchBomcanhao opened #52 "[UWP] Completed event raised twice when clicking on"
Running current release 4.1.36

I've noticed that the Completed event is now firing twice on TouchEff enabled controls, eg when clicking with the mouse.
eg
[code]

they both have the same stack
![image](https://user-images.githubusercontent.com/31066938/80976719-ad3def80-8e1b-11ea-8cbb-0d7af5f830a7.png)

Any ideas on what is going on?

[2020-05-04 14:31] AndreiMisiukevich commented on #52
Workaround: switch to Command (and totally remove
[code]
)

[2020-05-04 14:44] AndreiMisiukevich commented on #52
CI/CD is building a new version :) will be available on nuget in 30 mins or even less

[2020-05-04 15:02] MitchBomcanhao commented on #52
I've just tried the new package - was it supposed to allow me to continue with existing code or just a tidy up for other stuff you've noticed? I'm still seeing the same behaviour on UWP (have not tried others yet)

[2020-05-04 15:07] AndreiMisiukevich commented on #52
No, you can go ahead with your approach (With completion)

That's strange.

Well, if you switch to Command, does it fire event twice as well?

[2020-05-04 15:11] AndreiMisiukevich commented on #52
Seems I know what the reason
I will fix it later

[2020-05-04 22:01] #52 closed

[2020-05-05 15:06] marufbd opened #53 "Navigation from Completed event breaks from NavigationPage.TitleView on Android"
This seems something weird and probably a combination of how event in android is handled by Touchview and Xamarin forms Navigation works.

The `Completed` event breaks when I try to use it for navigation from Navigation page title view.
Whereas a button event just works. It gives an Android FrameLayout Object disposed exception.

Attached is a sample project with Navigation.
The `ItemsPage.xaml` h

[2020-05-06 23:41] bohbra opened #54 "[iOS] Null reference exception with view change"
I get the following error when I use the command to change the view.  This is similar to issue #44.

[code]

See example [here](https://github.com/bohbra/TouchEffect)

[2020-05-06 23:45] piersdeseilligny opened #55 "iPadOS Pointer support"
I'm not very familiar with iOS development, but iPadOS 13.4 has recently added support for [Pointer Interactions](https://developer.apple.com/design/human-interface-guidelines/ios/user-interaction/pointers/). The API not only adds support for hovering, but also iPad-specific effects (such as "lift" and "highlight" which tbh seems slightly gimmicky).

I think it would make sense to at least add sup

[2020-05-07 13:42] Brayanhenaor opened #56 "I try use this nuget but not working"
Hi.

I installed the nuget on my all projects, and add the Line _TouchEffectPreserver.Preserve()_ then tried the examples you have by, copying and pasting them into my project, so the animations not working. Am I missing something to add something else?

I appreciate your guidance

[2020-05-07 13:53] AndreiMisiukevich commented on #56
Hi, please show me your Xaml and Code

[2020-05-07 16:12] programmingworld1 commented on #56
Same issue here

[2020-05-07 16:16] programmingworld1 commented on #56
Would like to make my stacklayout clickable (and show a nice gray blink when clicking), I thought the following would work? (I also added TouchEffectPreserver.Preserve() to the native projects)

[code]

[2020-05-08 11:24] AndreiMisiukevich commented on #56
@programmingworld1 does Command exist in binding context?

iOS or Android?

[2020-05-08 11:26] programmingworld1 commented on #56
@AndreiMisiukevich The command exists indeed, this problem occurs for both ios and android

[2020-05-08 11:27] AndreiMisiukevich commented on #56
And you use latest version, right?

[2020-05-08 11:27] programmingworld1 commented on #56
@AndreiMisiukevich  Yep, I am. I just installed it yesterday.

[2020-05-08 11:30] AndreiMisiukevich commented on #56
touch.TouchEff.Command
Should be
touch:TouchEff.Command

[2020-05-08 11:32] programmingworld1 commented on #56
@AndreiMisiukevich Indeed, I changed that to ":". But that doesn't work.. It shows a background color on the stacklayout but does nothing when I click on it. Maybe the problem is bigger, because the gesturerecognizer from xamarin.forms doesnt work neither, not even on a normal label.

[2020-05-08 11:36] AndreiMisiukevich commented on #56
![image](https://user-images.githubusercontent.com/10124814/81402022-45e4b000-9139-11ea-929b-500465666305.png)

Works fine for me

[2020-05-08 11:37] AndreiMisiukevich commented on #56
@programmingworld1 perhaps the view cannot find your Command in binding context.

You can build a small sample with the issue where GestureRecognizer works, but this package doesn't.

[2020-05-08 11:37] #56 closed

[2020-05-08 11:38] AndreiMisiukevich commented on #55
Hmm, not sure it's useful

[2020-05-08 11:38] AndreiMisiukevich commented on #55
But as enhancement -- why not

[2020-05-08 11:39] AndreiMisiukevich commented on #56
You can run samples in this repository and play there. Because I cannot reproduce the issue.
Would be great to have a sample

[2020-05-08 11:44] programmingworld1 commented on #56
@AndreiMisiukevich Oke, I will have a look at it!

[2020-05-08 12:36] programmingworld1 commented on #56
@AndreiMisiukevich Thank you veyr much for your help, it works! The problem was indeed that I used the wrong bindingcontext.. Now I refer to the page bindingcontext instead of the bindingcontext if the item i nthe collectionview, my bad!

[2020-05-08 21:29] AndreiMisiukevich commented on #53
Your event handler is wrong
You should use TEffectCompletedHandler

[code]

[2020-05-08 21:34] AndreiMisiukevich commented on #55
Feel free to make PR if you wish.
I think it won't be supported.

[2020-05-08 21:34] #55 closed

[2020-05-09 03:08] marufbd commented on #53
@AndreiMisiukevich that does not resolve the issue. Have you tested.
Please note this behavior is only for if the ui element is inside `NavigationPage.TitleView`.
And only if in the event handler I want to navigate away to another page. Both touchEff event handler and touchEff command breaks in that case.
Attached updated project
[App3.zip](https://github.com/AndreiMisiukevich/TouchEffect/files/46

[2020-05-09 17:29] #53 closed

[2020-05-09 17:29] AndreiMisiukevich commented on #53
latest version

[2020-05-09 17:55] Amine24h opened #57 "[Android] TouchEffect crashes on Android API Level 21"
**Description**
The application crashes when opening a Page with TouchEffect.

**Basic Information**
Tested with Huawei P8 lite

**Code snippet**
`<yummy:PancakeView Grid.Row="4"
                                       HeightRequest="50"
                                       Margin="30"
                                       HorizontalOptions="FillAndExpand"

[2020-05-09 18:15] AndreiMisiukevich commented on #57
What android version does it have?

[2020-05-09 18:21] #57 closed

[2020-05-09 18:21] AndreiMisiukevich commented on #57
Thanks for the report, fixed

[2020-05-18 04:39] rredoh commented on #43
Hi Andrei, it's still not solved for me

[2020-05-18 07:54] AndreiMisiukevich commented on #43
can you attach the sample with this issue? As I cannot reproduce it

[2020-05-20 05:35] rredoh commented on #43
Hi Andrei, I'm so sorry, maybe there's a cache bug or something. I tried to reinstall the package and it's working as expected

[2020-05-20 09:23] AndreiMisiukevich commented on #43
I am glad to hear it :)

[2020-05-28 17:33] ElishaMisoi opened #58 "Long Press [Enhancement]"
Would be really great if you added a long press command binding.

[2020-06-05 07:22] AlleSchonWeg opened #59 "Button pressed state with label"
Hi, i have a question. ;)
Is it possible with your component to set a button in pressed state if the user touches a label. Lets say i have this xaml:
[code]
This example generates a round button with a FA glyph. Under the button i need a text for description. Now i want the button to change the state if the user presses the label. I hope you understand what i want to achieve.

[2020-06-05 08:23] AndreiMisiukevich commented on #59
Hi, I don't think that's possible (we can change Opacity/Scale or any other properties of that button and it perhaps will look very similar but simulate "press" is not possible)

[2020-06-05 08:24] AndreiMisiukevich commented on #59
You can use Trigger for updating those properties (Observe TouchEff.State)

[2020-06-05 08:45] AndreiMisiukevich commented on #59
here is how in xaml
https://github.com/AndreiMisiukevich/TouchEffect/issues/45#issuecomment-595465875

for some reasons DataTriggers don't work with attached properties in xamarin (Perhaps I did something wrong)

[2020-06-05 08:45] #59 closed

[2020-06-08 20:07] itstechtoday opened #60 "Child controls are not activated"
I have Label icon control within a grid. Set touch properties to grid as well as the label icon. Label icon touch stopped working after updating to latest version 4.1.38.

It was working on version 4.1.28

[2020-06-08 20:17] AndreiMisiukevich commented on #60
Hi, yes, it was a breaking change (for making this effect working inside scrollers)
Set **ShouldMakeChildrenInputTransparent = False** on your grid

[2020-06-08 20:17] #60 closed

[2020-06-14 10:15] YZahringer opened #61 "Support Visual States"
It would be useful to define [Visual States](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/visual-state-manager) to make custom style on different `TouchState`.

Something like:
[code]

[2020-06-14 11:45] YZahringer opened #62 "TouchEff.Command should be optional"
Currently if no `Command` is specified, the status is considered disabled.

In my opinion, if no `Command` is specified, the component should react of `TouchEffect`, like a `Button` without `Command`.

`CanExecute` should return `True` when `Command` is `null`?
https://github.com/AndreiMisiukevich/TouchEffect/blob/f1e78064388b632aee79d6318eb25a82cf0c77e0/TouchEffect/TouchEff.cs#L917

[2020-06-14 14:35] AndreiMisiukevich commented on #61
Hi, would you like to submit a PR?)

[2020-06-14 14:37] AndreiMisiukevich commented on #62
@YZahringer probably you are right. Feel free to make such PR

[code]

[2020-06-14 20:37] #62 closed

[2020-06-14 20:49] #50 closed

[2020-06-14 20:57] #61 closed

[2020-06-17 19:38] eli191 commented on #10
Getting this in last version 4.6.0.847

[2020-06-17 21:05] AndreiMisiukevich commented on #10
the latest version of this package is "4.1.51" ;)

[2020-06-17 22:38] AndreiMisiukevich commented on #10
please install the latest version from nuget (4.1.53) and check

[2020-06-18 11:47] JKorf opened #66 "Multiple overlapping animations"
Hi, thanks for your package.
I have a problem when trying to do 2 animations on 2 different controls which are on top of eachother. I have an image control and on top of that an 0.5 opacity content view with a black background to make the image sort of faded.

My goal is to do 2 things when the image is pressed:
1. Lower the opacity of the overlay to light up the image
2. Scale up the image to giv

[2020-06-18 12:37] AndreiMisiukevich commented on #66
That's possible, but it will be quite tricky.
You should bind "State" of your bottom view to "State" of the top one.

[2020-06-18 12:39] AndreiMisiukevich commented on #66
Something similar to https://github.com/AndreiMisiukevich/TouchEffect/issues/45#issuecomment-595465875

[2020-06-18 12:47] JKorf commented on #66
Thanks, that way I can indeed change both controls on press, however there is no animation. Any solution for that?

[2020-06-18 12:58] AndreiMisiukevich commented on #66
I am afraid you should use "code" :)

Observer **State** property of top and set it to the bottom one.
Does it make sense?)

[2020-06-18 13:09] JKorf commented on #66
I got it working thanks :)

For anyone having the same issue, this is my code animating 2 child controls when a parent is touched.

The control:
[code]

TriggerAction:
[code]

[2020-06-18 13:10] AndreiMisiukevich commented on #66
awesome ) thanks

[2020-06-18 13:10] #66 closed

[2020-06-23 17:41] YZahringer opened #67 "[Bug] Does not work in Release mode on UWP"
### Description
Effects and `Command` do not work in `Release` mode on `UWP`.

### Steps to Reproduce
1. Open `TouchEffectSample` solution
2. Select `Release` configuration
3. Right click on `TouchEffectSample.UWP` and select `Deploy`
4. Run app and check `Hover/Pressed` effects and `Command` -> No response

### Basic Information

- Version with issue: 4.1.53
- Last known good version: ?
- OS: Win

[2020-06-23 20:33] AndreiMisiukevich commented on #67
Hi
Try this

[code]

[2020-06-24 07:48] YZahringer commented on #67
@AndreiMisiukevich Thanks! it fix the issue 👍

I created PR with documentation update for UWP and small bug fix: #68

[2020-06-24 08:33] #67 closed

[2020-06-24 14:28] kcrg opened #69 "Support for AndroidX"
Migrate nuget to AndroidX packages, please.

[2020-06-24 21:58] AndreiMisiukevich commented on #69
What's the purpose of this request?
I've just tried to migrate Test sample Android project to AndroidX (and left library project as is) and tried to run: everything works fine.

[2020-07-10 18:36] #69 closed

[2020-07-14 19:12] zleao opened #71 "Make IsToggled change animated"
Hi,
Would it be possible to have the ForceUpdateState in the IsToggledProperty with animate = true?
It would look something like this:

[code]

The reason is that this way I'm able to trigger an animation just by changing the `IsToggled` value...
Well, to be honest I need a bit of a 'trick' to get the animation to work... I change the state before changing the IsToggled, but the final result is ex

[2020-07-14 23:14] AndreiMisiukevich commented on #71
No, we cannot change it cuz it will lead us to wrong behavior for IsToggled + Ripple

But I added a backdoor for you

Write it somewhere in code and you will achieve what you need.
[code]

[2020-07-14 23:14] #71 closed

[2020-07-14 23:14] AndreiMisiukevich commented on #71
A new version will be available in 20-30 mins

[2020-07-15 06:47] zleao commented on #71
Ah cool!
Thank you very much!

[2020-08-09 11:42] HakanCelikMK1 opened #72 "Thank you ! (And a little suggestion regarding Visual Material)"
Excellent job Sir, you've just saved my day with your library. Thank you !

By the way, would you consider making it compatible with Visual Material in the future ?

[2020-08-10 22:02] AndreiMisiukevich commented on #72
Hi) thanks
I'm glad to hear it.

This is a good question. I haven't thought about it yet.
Probably I will add this library to https://github.com/xamarin/XamarinCommunityToolkit

[2020-08-12 07:37] HakanCelikMKA commented on #72
You are very welcome. I think, contributing it to Community Toolkit would be a good idea. I've found TouchEffect after a lot of search. If it is in the toolkit, more people would be able to find and use it. Hopefully they (including myself) will contribute too.

Thanks for your efforts.

[2020-08-12 07:37] #72 closed

[2020-08-12 10:11] AndreiMisiukevich commented on #72
@HakanCelikMK1 https://github.com/xamarin/XamarinCommunityToolkit/issues/200 👍

[2020-09-02 18:16] itstechtoday commented on #60
Setting touch:TouchEff.ShouldMakeChildrenInputTransparent ="True" does not
enable the child control in the grid.

On Mon, Jun 8, 2020 at 4:18 PM Andrei <notifications@github.com> wrote:

[2020-09-02 19:59] AndreiMisiukevich commented on #60
but you need to set False...

[2020-09-15 10:08] 1grzyb1 opened #73 "PressedBackgroundColor on Frame"
After aplying PressedBackgroundColor on Frame it removes Frames shadow from HasShadow property.
I checked and PressedOpacity doesn't remove this effect.

[2020-09-15 10:25] AndreiMisiukevich commented on #73
iOS, right?

I presume it's XF bug (because PressedBackgroundColor just changes BackgroundColor of the view)

[2020-09-15 10:26] AndreiMisiukevich commented on #73
You can try to create a frame, then change its background color in runtime and see if the HasShadow has broken or not

[2020-09-15 11:17] 1grzyb1 commented on #73
Oposite on iOS shadow is rendering but on android don't. I tried to change BackgroundColor in runtime but it doesn't solve the issue.

[2020-09-15 12:04] AndreiMisiukevich commented on #73
I guess that's XF issue.
Do shadows render without TouchEff?
What will happen if you change BackgroundColor by button click (Without TouchEff)
If the issue still exists, then it's not related to TouchEff

[2020-09-15 12:54] 1grzyb1 commented on #73
When I change Background color of Frame on button click then Shadow on frame still appear.

[2020-09-15 13:19] AndreiMisiukevich commented on #73
Well. need to check. I thought Frame on Android doesn't have a shadow at all

[2020-09-16 08:16] ShamineDsouza opened #74 "Touch Effect Not working on IOS"
It does not trigger , nor does it show any effect .
Works perfectly in android.

  <StackLayout HorizontalOptions="CenterAndExpand" VerticalOptions="StartAndExpand" x:Name="stkLayNominee" x:FieldModifier="Public"
                        toucheff:TouchEff.NativeAnimation="True"
                         toucheff:TouchEff.NativeAnimationShadowRadius="80"
                        toucheff:TouchEff.Nati

[2020-09-16 08:18] AndreiMisiukevich commented on #74
Please show me your xaml/code.
Or even better -- build a small sample.

[2020-09-16 08:18] AndreiMisiukevich commented on #74
NativeAnimation=True

[2020-09-16 09:01] ShamineDsouza commented on #74
[File.zip](https://github.com/AndreiMisiukevich/TouchEffect/files/5231033/File.zip)
PLeaese find the xaml file

[2020-09-16 09:32] ShamineDsouza commented on #74
I have already kept the NativeAnimation=True

[2020-09-16 09:38] AndreiMisiukevich commented on #74
I cannot reproduce it on my sample.
You can try it yourself on my sample project.

Can you build a small project with very simple example showing this bug. Or even better try to replicate this problem on my samples.

[2020-09-23 06:03] ShamineDsouza commented on #74
Issue was that there was something overlapping the stack layout. Resolved by sending to background . Effect working Fine .

Thank You  :)

[2020-09-23 07:27] AndreiMisiukevich commented on #74
perfect)

[2020-09-23 07:27] #74 closed

[2020-09-23 12:08] Estevete opened #75 "TouchEffect inside CollectionView DataTemplate not letting select item on Android"
Placing `TouchEffect` inside the `DataTemplate` of a `CollectionView` (I have tried `Frame` & `Grid`) does not work on Android.

I have tried by calling `SelectionChangedCommand `and doesn't work either.
I have tested on iOS and UWP and it works.

**Repro link:**
https://github.com/MADSENSE/Madsense.XamarinForms.Sample/tree/collection-view-frame-android-issue

[2020-09-23 12:10] AndreiMisiukevich commented on #75
does it work with a content view?

[2020-09-23 13:09] Estevete commented on #75
I have tried and no. It doesn't work either with a ContentView

[2020-09-24 17:59] YZahringer commented on #75
I think it's not specific to `CollectionView`, `TapGestureRecognizer` does not work on any element with `TouchEffect` on `Android`

[2020-09-24 19:47] AndreiMisiukevich commented on #75
So, probably this is the limitation of this package.
You should use ```TouchEff.Command``` for handling taps in CollectionView instead of default CollectionView's command.

[2020-09-25 08:25] YZahringer commented on #75
@AndreiMisiukevich I think the problem is on `e.Handled = true`. Any reason to handle the event? This one is not handled on `iOS` and `UWP`.
https://github.com/AndreiMisiukevich/TouchEffect/blob/f16d527aecaa6845fcc137110c1c4fcae3e6f328/TouchEffect.Droid/PlatformTouchEff.cs#L119-L127

[2020-09-25 10:54] AndreiMisiukevich commented on #75
Hm, I thought it makes sense to mark the event as "handled" if it's handled indeed :)
Do you think we can safely remove this line?

[2020-09-26 11:01] YZahringer commented on #75
I've done some tests and I don't see any issue without handling it. The `e.Handled` should be set to `False`, the default value is `True`.

I think the behavior should be the same on different platforms, the event should be handled on all or none. Currently is handled on Android but not on iOS or UWP.

I often define `TouchEffect` in a global `Style`, that's why I use `GestureRecognizer` in the el

[2020-09-26 14:53] AndreiMisiukevich commented on #75
Well, if it works well even in the ScrollView sample, then I will appreciate submitting a PR with the fix :)
Would you like to do it?

[2020-09-26 16:31] #75 closed

[2020-10-09 13:59] MitchBomcanhao opened #77 "[iOS] ListView items with TouchEff.NativeAnimation stop being tappable when user slides finger and it exits the native animation"
TouchView 4.1.78
iOS 14.0.1
XF 4.8.0 sr3
Rg.Plugins.Popup 2.0.0.3

I've got a page with a list of items, structured as shown below (simplified to the basics)
If I put a finger on an item, it'll change colour slightly (as per NativeAnimation setting on iOS).
If I then move the finger slightly, the NativeAnimation effect goes away, which is expected, as it starts switching into scrolling the list.
Y

[2020-10-09 14:06] AndreiMisiukevich commented on #77
Frankly speaking, I have no idea why it can happen :(

[2020-10-09 14:52] MitchBomcanhao commented on #77
I'm sure I can find several workarounds for this but if I have the chance to debug this behaviour in the future I'll have a look.
From your answer I assume you've come across this issue as well - not sure I'll be able to do any better but I can try :)

edit: my first idea to get this working more reliably is to switch the itemTapped event to a toucheff command on the item itself, and after a very

[2020-10-15 06:13] AswinPG commented on #58
I did something to achieve long press. Which I think is really lazy coding. I look at the touch state and while the state is pressed I start a timer. if the timer exceeds a particular value then long press will be fired. If this implementation is good enough I'd like to create a PR. But I think that I'm doing it wrong. If someone could show me the right way I can try that and create a good PR with

[2020-10-15 14:45] AndreiMisiukevich commented on #58
Why not. It could work. Just need to make sure that visual works as expected + Long press is not fired several times )

[2020-10-17 06:05] AswinPG commented on #58
Ok. I'll PR as soon as I am free then

[2020-10-20 11:37] KyrillosS25 opened #78 "If parent element have gesture and child element have touch effect disabled the child element override parent's gesture"
Hello,
I have 2 stacklayout the parent stack have tap gesture and child stack have touch effect with "IsAvailable = 'False'", when tapping on child stack nothing happens.

could I add/remove touch effect form code behind?

![ezgif-7-6981f1ba6b72](https://user-images.githubusercontent.com/56297254/96580752-0bcb2d00-12d9-11eb-8ad5-0c3f0a99ee24.gif)

Code :
`
<?xml version="1.0" encoding="utf-8" ?>
<

[2020-10-20 11:48] AndreiMisiukevich commented on #78
Try to set InputTransparent to your child StackLayout

[2020-10-20 11:50] AndreiMisiukevich commented on #78
That's not TouchEff problem. If you remove TouchEffect at all and just leave a child stack layout the behavior will remain the same

[2020-10-21 06:50] KyrillosS25 commented on #78
I tried it and got the same behavior

[2020-10-21 06:55] KyrillosS25 commented on #78
I removed TouchEff from child stack and got the tapped event of the parent, I think that TouchEff somehow override the parent event event if  "IsAvailable='False'"

![ezgif-7-6981f1ba6b72](https://user-images.githubusercontent.com/56297254/96683911-11794f00-137b-11eb-83e8-844a9187996b.gif)

`
<StackLayout BackgroundColor="Red" HeightRequest="100" WidthRequest="100">

        <StackLayout  Backgrou

[2020-10-21 07:33] AndreiMisiukevich commented on #78
Have you tried to set InputTransparent = true?

[2020-10-21 07:33] KyrillosS25 commented on #78
yes

[2020-10-21 07:55] AndreiMisiukevich commented on #78
Confirmed that's a bug.

Well, there is a workaround. You can remove the effect from code

[code]

[2020-10-21 07:58] KyrillosS25 commented on #78
okay thanks, I'll try that.

[2020-10-21 09:21] KyrillosS25 commented on #78
@AndreiMisiukevich
the workaround worked. but can I add effects to view from code instead of removing them ?

[2020-10-21 09:35] AndreiMisiukevich commented on #78
Yes, sure you can :)

[code]

[2020-10-21 09:41] KyrillosS25 commented on #78
Thanks

[2020-10-27 12:02] AndreiMisiukevich commented on #58
Implemented :)

[2020-10-27 12:02] #58 closed

[2020-10-27 12:03] AswinPG commented on #58
Oops. It was a really busy week. @AndreiMisiukevich Awesome as always. You are great

[2020-10-28 22:22] #73 closed

[2020-10-28 22:22] AndreiMisiukevich commented on #73
Fixed

[2020-10-28 23:23] #78 closed

[2020-10-28 23:24] AndreiMisiukevich commented on #78
Now works fine with IsAvailable=False

[2020-11-02 02:23] AndreiMisiukevich commented on #77
Please use TouchEff command instead ItemTapped event in this scenario 👍
I think this workaround is enough for now

[2020-11-02 02:23] #77 closed

[2020-11-03 22:57] Brayanhenaor commented on #54
I have the same bug with last version if I use toucheff:TouchEff.Command

[2020-11-03 23:00] AndreiMisiukevich commented on #54
Let me check...

[2020-11-03 23:06] AndreiMisiukevich commented on #54
@Brayanhenaor cannot reproduce on iOS.
Can you please build a sample?

[2020-11-05 20:42] AndreiMisiukevich commented on #54
provide a sample please if you want to get this bug fixed. Unfortunately, I cannot reproduce it

[2020-11-09 12:15] taieb1919 commented on #54
her a sample
   touch:TouchEff.Command="{Binding GoToMenuCommand}"
            touch:TouchEff.IsAvailable="True"
            touch:TouchEff.PressedBackgroundColor="Black"
            touch:TouchEff.PressedOpacity="8"
            touch:TouchEff.PressedScale="2"
            touch:TouchEff.RegularAnimationDuration="300"
            touch:TouchEff.RippleCount="1"

[2020-11-09 13:03] Suplanus opened #82 "Style template not working"
Hi,
first of all a big thank you to this great library.

I try to create a style template for my touchable controls:

[code]

But this is not possible because it's not writable.

[2020-11-09 13:49] AndreiMisiukevich commented on #54
Unfortunately, it's not a sample. That's just several lines of xaml markup.

What kind of view should I apply it to? (ContentView, Label, Frame, StackLayoyt ... ?)

[2020-11-09 13:49] AndreiMisiukevich commented on #54
Can you build a small sample project where I can reproduce this issue?) Thanks

[2020-11-09 14:11] Suplanus commented on #82
I think it's only an error in VS, but it's building and works.

![image](https://user-images.githubusercontent.com/2002916/98550790-d2b12780-229c-11eb-88ab-9137f7c48e80.png)

[2020-11-09 14:28] AndreiMisiukevich commented on #82
Hmmm, super strange.

[2020-11-09 14:32] Suplanus commented on #82
Could you reproduce the error?

[2020-11-09 14:34] AndreiMisiukevich commented on #82
No, I cannot. I guess you made a mistake

```TargetType="StackLayout"```

[code]

[2020-11-09 14:36] AndreiMisiukevich commented on #82
No error even with your sample (VS for Mac 2019)

![image](https://user-images.githubusercontent.com/10124814/98554693-0f3b4e00-22b2-11eb-8d05-34afdff45b4e.png)

[2020-11-09 14:39] AndreiMisiukevich commented on #82
Well, as you said, it's VS issue

Maybe try to update your VS, clean the project (remove all bin and obj folder) and restart VS and try again.
Otherwise, this bug should be reported to VS team

My VS for Mac:
![image](https://user-images.githubusercontent.com/10124814/98554956-63463280-22b2-11eb-811c-0ddaa49edd81.png)

[2020-11-09 14:39] #82 closed

[2020-11-09 14:40] AndreiMisiukevich commented on #54
Are you sure you update TouchView nuget in both iOS and netstandard projects?

[2020-11-09 15:05] AndreiMisiukevich commented on #54
BTW, I have a couple of remarks about it:
[code]

```touch:TouchEff.IsAvailable="True"``` This is the default value. So you can remove this line.
```touch:TouchEff.PressedOpacity="8"``` Maximum opacity is 1. Wha does 8 mean? Maybe you wanted to set "0.8"?

[2020-11-09 15:06] AndreiMisiukevich commented on #54
Well, please try latest version (but make sure you installed the LATEST version to both iOS and Netstandard projects). Perhaps I fixed this issue.

[2020-11-09 15:06] #54 closed

[2020-11-16 13:13] maxkoshevoi opened #83 "Ripple effect"
Hi, how can I achieve ripple effect (like in this NuGet: https://github.com/mrxten/XamEffects)?
I'm creating a custom list and existing ListView is xamarin displays ripple effect while item is pressed (at least on android). I want to to exactly the same effect. Is it possible with this NuGet (preferably without custom code)?

[2020-11-16 13:28] AndreiMisiukevich commented on #83
Hi, yes. Use "NativeAnimation = True". That's it

[2020-11-16 13:28] #83 closed

[2020-11-16 19:36] maxkoshevoi opened #84 "[Bug] Native animation doesn't respect device theme"
**Issue**

Here is a compaction of animation of list view and animation from this nuget in light and dark themes:
https://photos.app.goo.gl/fvH5zgATE2oj2BMc7

In dark theme color stays the same and becomes not visible.

**Workaround**

Manually set the color: `<Setter Property="touch:TouchEff.NativeAnimationColor" Value="#40808080"/>`
(`40808080 `looks kinda the same for white and dark background

[2020-11-17 08:51] AndreiMisiukevich commented on #84
Hi, what will happen if you

1) Close the app (and remove from the memory)
2) Set the dark theme
3) Open the app (like cold start)

Will the bug remain?

[2020-11-17 09:11] AndreiMisiukevich commented on #84
I guess, yes, it will remain.

Well, https://github.com/AndreiMisiukevich/TouchEffect/blob/master/TouchEffect.Droid/PlatformTouchEff.cs#L324

Here is the root cause. We should force to update the color (and choose different color) when the app theme changed

[2020-11-18 00:41] #84 closed

[2020-11-18 15:06] leonardbarbu opened #85 "Touch effect after X milliseconds or after completed event"
Hello,
It is somehow possible to see the touch effect only if it is not cancelled within the first X milliseconds?
Or it is possible to see the touch effect only if the completed event is fired?

I am trying to have a ListView feeling using a StackLayout with BindableLayout ItemsSource because the StackLayout is more performant on scrolling.
Thanks.

[2020-11-18 15:11] AndreiMisiukevich commented on #85
Hi, for now, such behavior can be achieved only by the user's code.
You can observe "State" property and change UI.

For "NativeAnimation" it's impossible.

[2020-11-18 15:25] leonardbarbu commented on #85
I have tried in code behind in the Completed event to use "SetNativeAnimation" with True for the sender (a Frame) and after to set the Status or the State for that sender but didn't succeeded to see the effect.
Thanks for clarification.

[2020-11-18 15:25] #85 closed

[2020-11-28 20:14] KevinAnass opened #86 "add effect button to any content"
how I can add the same effect like this with your nugget
thanks in advance

https://github.com/mrxten/XamEffects/blob/master/images/touch/android.gif

[2020-11-28 21:02] AndreiMisiukevich commented on #86
TouchEffect was merged to XamarinCommunityToolkit https://github.com/xamarin/XamarinCommunityToolkit/pull/566 I highly recommend to use TouchEffect from XCT

[2020-11-28 21:14] AndreiMisiukevich commented on #86
But, just set NativeAnimation=True and NativeColor = Color.Red

[2020-11-29 10:39] KevinAnass commented on #86
thank you so much for your answer

[2020-11-29 10:39] #86 closed

[2020-12-02 13:51] AlleSchonWeg opened #87 "[Question] Toucheffekt like ListView ViewCell"
Hi,
i try to create a effect in a StackLayout like the touch on a Listview item.
On iOS/Android the whole row gives feedback in a ListView item.
Is this possible?
Thank you

[2020-12-02 14:07] AndreiMisiukevich commented on #87
Hi, yes. Set NativeAnimation=True

[2020-12-02 14:07] #87 closed

[2020-12-02 14:18] AlleSchonWeg commented on #87
Thanks.
i tried this already, but the effect is only on the labels (iOS). Not on the StackLayout. Sample:
[code]
Sample Listview:
[code]

[2020-12-02 14:29] AndreiMisiukevich commented on #87
Set NativeColor :)

BTW, this project will be closed soon.
I propose to use https://github.com/xamarin/XamarinCommunityToolkit

I moved TouchEffect there

[2020-12-02 14:31] AlleSchonWeg commented on #87
@AndreiMisiukevich
If i set the NativeAnimationColor:
[code]

the whole Stacklayout has the effect. Where i know whats the default color is?

[2020-12-02 14:33] AlleSchonWeg commented on #87
I know, but there is no release version yet.

[2020-12-02 16:27] AndreiMisiukevich commented on #87
DefaultColor is **No color** ) Just changes the opacity of view

[2020-12-02 16:39] AlleSchonWeg commented on #87
Thanks again. ;)
With default i mean the default system color for the toucheffect from the device/os. Sorry, for asking stupid questions, but i'm using your effect for the first time. :)
I tried android and the effect was what i want, without changeing opacity or setting NativeAnimationColor. Only set NativeAnimation=True works.

[2020-12-02 22:22] AndreiMisiukevich commented on #87
The problem that iOS doesn't have "native" color :)
You can see how buttons works (it's just tappable text without borders).

[2020-12-06 19:33] KevinAnass opened #88 "Effect Not compatible With the rounded Image"
Effect Not compatible With the rounded Image

when I want to add the effect native to circle image I want to show the effect just in the image, not like that
![2fe72bcc-4ea7-47ef-bbcf-1d7664c935fc](https://user-images.githubusercontent.com/59505755/101290372-15b1dc80-3802-11eb-8d53-61822e879165.jpg)
is that possible?

[2020-12-06 22:32] AndreiMisiukevich commented on #88
This effect is merged into XamarinCommunityToolkit. It's better to ask there)

But, I think, it depends on how did you implement the circle image) Frame + Image? Or new xamarin shapes API?
I suggest you try both
Or try to set **NativeAnimationRadius**

[2020-12-07 16:46] KevinAnass commented on #88
thank you so much Andrei Misiukevich

[2020-12-07 16:59] #88 closed

[2020-12-29 20:51] maxkoshevoi opened #89 "Native animation doesn't work with images"
I'm using icon font in my app and have several clickable images like this:
[code]

But `NativeAnimation` doesn't do anything for them (there is no animation on click).

[2020-12-29 21:38] AndreiMisiukevich commented on #89
Hello, please use TouchEffect from XamarinCommunityToolkit https://github.com/xamarin/XamarinCommunityToolkit

[2020-12-29 21:38] #89 closed

[2022-07-24 06:37] nithrous opened #90 "Is it possible to handle when I just touch the control, not on release?"
After quick view I noticed that there are only 2 possible command handlers - press and long press. All they are firing when I release my finger, but I want to callback immediately when I touch - is it possible?

[2022-07-24 18:38] AndreiMisiukevich commented on #90
Hello
This plugin was merged to Xamarin.CommunityToolkit.

You should use that nuget instead.

As far I remember it wasn't possible

[2022-07-24 18:38] #90 closed

[2022-08-12 07:17] BySuspect opened #91 "only half clickable on big square frame"
Hello i have a problem with touch effect its working only half a frame
my code:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/70052500/184303983-746ae827-7063-420f-9b26-0b54e638f5be.gif)
[code]

[2022-08-12 08:03] BySuspect commented on #91
im an idiot oky i fixed it some views are on invisible and making unclicable frames

<img src="https://user-images.githubusercontent.com/70052500/184313120-96e9505f-cd4b-47fc-b18e-f85e26f84a48.png" data-canonical-src="https://gyazo.com/eb5c5741b6a9a16c692170a41a49c858.png" width="200" height="400" />

[2022-08-12 08:03] #91 closed

[2022-08-12 12:45] AndreiMisiukevich commented on #91
Hi @BySuspect I propose to switch to XamarinCommunityToolkit as I contributed this plugin there